{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}{% endblock %}

=======
>>>>>>> 6214a07d8d663115f25b088cd0283a266688f4c9
{% block body %}
	<li class="nav-item">
		<a class="nav-link" href="{{path('inscriptionMembre')}}">Inscription un Abonner</a>
	</li>
	<label for="Ajout">Ajouter</label>
	<li class="nav-item">
		<a class="nav-link" href="{{path('addFilms')}}">ajouterfilm</a>
	</li>
	{# <li class="nav-item">
											<a class="nav-link" href="{{path('ajouterSerie')}}">ajouterserie</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="{{path('ajouterAnime')}}">ajouteranime</a>
										</li> #}


	<label for="Ajout">Editer</label>
	<li class="nav-item">
		<a class="nav-link" href="{{path('editFilms')}}">modifierfilm</a>
	</li>

<<<<<<< HEAD
<div class="example-wrapper">
    

    
    {# <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/TON PATRON/Desktop/Mon Projet SAF/safire/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/TON PATRON/Desktop/Mon Projet SAF/safire/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul> #}
</div>
=======

>>>>>>> 6214a07d8d663115f25b088cd0283a266688f4c9
{% endblock %}
