{% extends "baseAdmin2.html.twig" %}


{% block body %}

	<br>

	<h3>{{serie.titre}}
	</h3>

	<div>
		<a href="{{path('showLaSerie', {'id':serie.id})}}">
			<img class="imageAffichage" src="{{asset('/uploads/imageSeries/' ~ serie.imageSerie) | imagine_filter('echelle') }}" alt="la series du momment">
		</a>
	</div>
	<p>La date:
		{{serie.dateDeSortieAt| date("d/m/Y")}}
	</p>
	<div class="description">
		<h3>Description</h3>
		{{serie.description|raw}}
	</div>

{% endblock %}
