{% extends "baseAdmin2.html.twig" %}


{% block body %}

	{% for film in films %}
		<br>

		<h3>{{film.titre}}
		</h3>

		<div>
			<a href="{{path('showLeFilm', {'id':film.id})}}">
				<img class="imageabsolute" src="{{asset('/uploads/imageFilms/' ~ film.imageFilm) | imagine_filter('echelle') }}" alt="le films du momment">
			</a>
		</div>
		<p>La date:
			{{film.dateDeSortieAt| date("m/d/Y")}}
		</p>
		<div class="description">
			<h3>Description</h3>
			{{film.description|raw}}
		</div>


		{# <a href="#">
		<button class="btn btn-success">Ajouter</button>
		</a> #}

		<a href="{{path('editFilms',{'id':film.id})}}">
			<button class="btn btn-warning">Editer</button>
		</a>

		<a href="{{path('removeFilms',{'id':film.id})}}">
			<button class="btn btn-info">Supprimer</button>
		</a>
		
		<br>
	{% endfor %}
{% endblock %}
