{% extends "baseAdmin.html.twig" %}


{% block body %}

	{% for serie in series %}
		<br>

		<h3>{{serie.titre}}
		</h3>

		<div>
			<a href="{{path('showLaSerie', {'id':serie.id})}}">
				<img class="imageabsolute" src="{{asset('/uploads/imageSeries/' ~ serie.imageSerie) | imagine_filter('echelle') }}" alt="la series du momment">
			</a>
		</div>
		<p>La date:
			{{serie.dateDeSortieAt| date("m/d/Y")}}
		</p>
		<div class="description">
			<h3>Description</h3>
			{{serie.description|raw}}
		</div>


		{# <a href="#">
		<button class="btn btn-success">Ajouter</button>
		</a> #}

		<a href="#">
			<button class="btn btn-warning">Editer</button>
		</a>
		
		<a href="{{path('removeSeries', {'id':serie.id})}}">
			<button class="btn btn-info">Supprimer</button>
		</a>
		<br>
	{% endfor %}
{% endblock %}
