{% extends "baseAdmin2.html.twig" %}


{% block body %}

		<br>

		<h3>{{anime.titre}}
		</h3>

		<div>
			<a href="{{path('showLanime', {'id':anime.id})}}">
				<img class="imageabsolute" src="{{asset('/uploads/imageAnimes/' ~ anime.imageAnime) | imagine_filter('echelle') }}" alt="l'animes du momment">
			</a>
		</div>
		<p>La date:
			{{anime.dateDeSortieAt| date("m/d/Y")}}
		</p>
		<div class="description">
			<h3>Description</h3>
			{{anime.description|raw}}
		</div>

{% endblock %}
