{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

	<main class="clr">

		<div>

			{# <i class="far fa-chevron-double-down" style="color: red; display: flex; justify-content: center; width: 100%; height: 150px;"></i>  #}

			<a href="{{path('afficheAllFilms')}}">
				<h3>FILM</h3>
			</a>
			<a href="{{path('afficheAllSeries')}}">
				<h3>SERIE</h3>
			</a>
			<a href="{{path('afficheAllAnimes')}}">
				<h3>ANIME</h3>
			</a>

		</div>


		
			<body>


<style>
 .parallax {
            /* The image used */

            background-image: url("{{asset('asset/image/serie.jpg')}}");

            /* Full height */
            height: 350px;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax1 {
            /* The image used */

            background-image: url("{{asset('asset/image/anime.jpg')}}");

            /* Full height */
            height: 350px;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax2 {
            /* The image used */

            background-image: url("{{asset('asset/image/film.jpg')}}");

            /* Full height */
            height: 350px;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

</style>

				<div class="main" id="section1">


					<a href="#section2">
						<i class="fas fa-chevron-double-down" style="color: red; display: flex; justify-content: center; width: 100%; height: 150px;"></i>
					</a>

				</div>




				<div class="parallax"></div>

				<div style="height:200px;background-color:rgb(104, 100, 100);font-size:36px">
                
					Scroll Up and Down this page to see the parallax scrolling effect.
					        This div is just here to enable scrolling.
					        Tip: Try to remove the background-attachment property to remove the scrolling effect.
				</div>







				<!-- Container element -->
				<div class="parallax1"></div>

				<div style="height:200px;background-color:rgb(223, 126, 126);font-size:36px">
					Scroll Up and Down this page to see the parallax scrolling effect.
					        This div is just here to enable scrolling.
					        Tip: Try to remove the background-attachment property to remove the scrolling effect.
				</div>







				<div class="parallax2"></div>
				<div style="height:200px;background-color:rgb(62, 128, 204);font-size:36px">
					Scroll Up and Down this page to see the parallax scrolling effect.
					        This div is just here to enable scrolling.
					        Tip: Try to remove the background-attachment property to remove the scrolling effect.

				</div>









				<div style="height:200px;background-color:rgb(77, 64, 64);font-size:36px">

					<h6>À PROPOS DE NOUS</h6>
					Nous avons créer ce site dans le but de réunir toutes les prochaines sorties de FILMS,SERIES et ANIMÉS. 
					        Vous trouverez ici donc toutes les informations necésaire sur les prochaines sorties : date, genre ou encore sur
					        quelle plateforme les retrouver.
				</div>




				<div class="main" id="section2">

					<a href="#section1">
						<i class="fas fa-chevron-double-up" style="color: red; display: flex; justify-content: center; width: 100%; height: 150px;"></i>
					</a>
				</div>


			</body>
		</html>
	</main>

{% endblock %}
