{% extends 'baseUser2.html.twig' %}

{% block body %}

		<br>

		<h5>{{serie.titre}}
		</h5>

		<div>
			<a href="{{path('montrerLaSerie', {'id':serie.id})}}">
				<img class="imageabsolute" src="{{asset('/uploads/imageSeries/' ~ serie.imageSerie) | imagine_filter('echelle') }}" alt="le series du momment">
			</a>
		</div>
		<p>Sort le:
			{{serie.dateDeSortieAt| date("m/d/Y")}}
		</p>
		<div class="description">
			<h5>Description</h5>
			{{serie.description|raw}}
		</div>

{% endblock %}
