{% extends 'baseUser2.html.twig' %}

{% block body %}


	<div class="container">

		<section class="row">


			<div class="col-12 col-md-6 col-lg-4">
				<a href="{{path('montrerLaSerie', {'id':serie.id})}}">
					<img class="imageAffichage" src="{{asset('/uploads/imageSeries/' ~ serie.imageSerie) | imagine_filter('echelle') }}" alt="le series du momment">
				</a>
			</div>

			<div class="col-12 col-md-6 col-lg-6">
				<h5>{{serie.titre}}</h5>

				<p>Sort le:
					{{serie.dateDeSortieAt| date("d/m/Y")}}
				</p>
				<div class="description">
					<h5>Description</h5>
					{{serie.description|raw}}
				</div>
			</div>

		</section>

		<hr class=" bg-info">

		<div class="trailler col-12">
			{{serie.video}}
		</div>

	</div>
	
{% endblock %}
