{% extends 'baseUser2.html.twig' %}

{% block body %}

	{% for anime in animes %}
		<br>


		<div class="card mb-4" style="max-width: 1500px; margin-left:5px">
			<div class="row no-gutters">

				<div class=" col-md-6 col-lg-3">
					<a href="{{path('montrerLanime', {'id':anime.id})}}">
						<img class="imageAffichage" src="{{asset('/uploads/imageAnimes/' ~ anime.imageAnime) | imagine_filter('echelle') }}" alt="l'anime's du momment">
					</a>
				</div>

				<div class="col-md-6 col-lg-9">
					<div class="card-body">
						<h4 class="card-title">{{anime.titre}}</h4>

						<p>Sort le:
							{{anime.dateDeSortieAt| date("d/m/Y")}}
						</p>

						<div class="description">
							<h4>Description</h4>
							{{anime.description|raw}}
						</div>

					</div>
				</div>

			</div>
		</div>


		<a href="{{path('modifierAnimes',{'id':anime.id})}}">
			<button class="btn btn-warning">Editer</button>
		</a>

		<a href="{{path('supprimeAnimes',{'id':anime.id})}}">
			<button class="btn btn-info">Supprimer</button>
		</a>

		<br>
	{% endfor %}
{% endblock %}
