

{% block body %}

	{% for serie in series %}
		<br>

		<h5>{{serie.titre}}
		</h5>

		<div>
			<a href="{{path('montrerLaSerie', {'id':serie.id})}}">
				<img class="imageabsolute" src="{{asset('/uploads/imageSeries/' ~ serie.imageSerie) | imagine_filter('echelle') }}" alt="le series du momment">
			</a>
		</div>
		<p>Sort le:
			{{serie.dateDeSortieAt| date("m/d/Y")}}
		</p>
		<div class="description">
			<h5>Description</h5>
			{{serie.description|raw}}
		</div>


		{# <a href="#">
		<button class="btn btn-success">Ajouter</button>
		</a> #}

		<a href="{{path('modifierSeries',{'id':serie.id})}}">
			<button class="btn btn-warning">Editer</button>
		</a>

		<a href="{{path('supprimeSeries',{'id':serie.id})}}">
			<button class="btn btn-info">Supprimer</button>
		</a> 
		
		<br>
	{% endfor %}
{% endblock %}
