{% extends 'baseUser2.html.twig' %}

{% block body %}


	<div class="container">

		<section class="row">

			<div class="col-12 col-md-6 col-lg-4">
				<a href="{{path('montrerLeFilm', {'id':film.id})}}">
					<img class="imageAffichage" src="{{asset('/uploads/imageFilms/' ~ film.imageFilm) | imagine_filter('echelle') }}" alt="le films du momment">
				</a>
			</div>

			<div class="col-12 col-md-6 col-lg-6">
				<h5>{{film.titre}}</h5>

				<p>Sort le:
					{{film.dateDeSortieAt| date("d/m/Y")}}
				</p>
				<div class="description">
					<h5>Description</h5>
					{{film.description|raw}}
				</div>
			</div>

		</section>


		<hr class=" bg-info">

		<div class="trailler col-12">
			{{film.video}}
		</div>

	</div>
{% endblock %}
